* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.work__area {
    display: flex;
    justify-content: space-between;
}

.side__bar {
    padding: 65px 30px 0px 30px;
    background-color: #0085FF;
    max-width: 350px;
    width: 100%;
    height: 100vh;
    border-radius: 0px 30px 30px 0px;
}

.side__bar_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.side__bar_logo_text {
    font-weight: 700;
    font-size: 30px;
    color: #FFFFFF;
    margin: 0;
    text-align: center;
}

.add__task {
    padding: 12px 103px;
    border: none;
    border-radius: 10px;
    background-color: #FFFFFF;
    color: #000;
    font-weight: 400;
    font-size: 18px;
    margin-top: 60px;
    cursor: pointer;
    transition: .3s;
}

.add__task:hover {
    transform: scale(1.05);
}

.task__title {
    width: 100%;
    margin-bottom: 15px;
    margin-top: 60px;
    border: none;
    border-radius: 10px;
    background-color: #fff;
    padding: 12px 0px 12px 20px;
    outline: none;
}

.task_descr {
    width: 100%;
    border-radius: 10px;
    border: none;
    background-color: #fff;
    padding: 12px 0px 20px 20px;
    outline: none;
}

::placeholder {
    font-weight: 400;
    font-size: 18px;
    color: #888888;
}

.crate__task_btn {
    border: none;
    width: 100%;
    margin-top: 25px;
    margin-bottom: 15px;
    padding: 12px 87px;
    background-color: #0FE317;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    border-radius: 10px;
    transition: .3s;
}

.camcel {
    border: none;
    width: 100%;
    padding: 12px 87px;
    background-color: #DD0000;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    border-radius: 10px;
    transition: .3s;
}

.crate__task_btn:hover {
    transform: scale(1.05);
}

.camcel:hover {
    transform: scale(1.05);
}

.crate__task {
    display: none;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    padding: 20px 0px 0 20px;
    height: 100vh;
    width: 100%;
    overflow-y: scroll;
}

.card__item {
    display: flex;
    flex-direction: column;
    width: 23%;
    height: 278px;
    padding: 0px 0px 15px 0px;
    margin: 0px 20px 20px 0px;
    box-shadow: 4px 4px 20px rgba(0, 133, 255, 0.4);
    border-radius: 20px;
    transition: .3s;
}

.card__item:hover {
    transform: scale(1.03);
}

.card__header {
    display: flex;
    background-color: #0085FF;
    width: 100%;
    border-radius: 20px 20px 0px 0px;
    padding: 10px 15px;
    justify-content: space-between;
    align-items: center;
}

.title {
    margin: 0;
    font-weight: 400;
    font-size: 18px;
    color: #fff;
	overflow: hidden;
	text-overflow: ellipsis;
	-webkit-line-clamp: 4;
	-webkit-box-orient: vertical;
}


.header__buttons {
    display: flex;
    max-width: 70px;
    width: 100%;
    justify-content: space-between;
}

.action__button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    padding: 3px;
    border-radius: 5px;
    cursor: pointer;
    transition: .3s;
}

.action__button:hover {
    transform: scale(1.2);
}

.delete {
    background-color: #DD0000;
}

.done {
    background-color: #0FE317;
}

.card__body {
    padding: 15px 15px;
    height: 100%;
    overflow: hidden;
    position: relative;
}


.body__text {
    margin: 0;
    font-size: 18px;
}

.card__body:after {
	content: "";
	text-align: right;
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
	height: 1.2em;
	background: linear-gradient(to bottom, rgba(255, 255, 255, 0), white 100%);
	pointer-events: none;
}